* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .2);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  font-size: 1.1rem;
  color: var(--text-color);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--main-color);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--bg-color);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

// Controls

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn {
      background-color: var(--main-color) !important;
      transition: all .4s ease-in-out;
      i {
         color: var(--bg-color) !important;
      }
    }
    .control {
      padding: 1rem;
      width: 55px;
      height: 55px;
      cursor: pointer;
      border: 1px solid var(--main-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: .7rem 0;
      box-shadow: var(--box-shadow-1);
      i {
        font-size: 1.2rem;
        color: var(--text-color);
        pointer-events: none;
      }
    }
}
