* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .2);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  font-size: 1.1rem;
  color: var(--text-color);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

header {
  height: 100vh;
  color: var(--text-color);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--bg-color);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnimation 1s ease-in-out;

  @keyframes scaleAnimation {
    0% {
      transform: translateY(-100%) scaleY(0);
    }

    100% {
      transform: translateY(0) scaleY(1);
    }

  }
}

/*controls*/

.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn {
      background-color: var(--main-color) !important;
      transition: all .4s ease-in-out;
      i {
         color: var(--bg-color) !important;
      }
    }
    .control {
      padding: 1rem;
      width: 55px;
      height: 55px;
      cursor: pointer;
      border: 1px solid var(--main-color);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: .7rem 0;
      box-shadow: var(--box-shadow-1);
      i {
        font-size: 1.2rem;
        color: var(--text-color);
        pointer-events: none;
      }
    }
}

/*Header-content*/

.header-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .left-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image {
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      transition: all .4s ease-in-out;
      .banner-img {
        width: 100%;
        height: 100%;
        transition: all .4s ease-in-out;
      }
    }
  }
  .right-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    .name {
      font-size: 3rem;
      span {
        color: var(--main-color)
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    span {
      color: var(--main-color)
    }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all .4s ease-in-out;
      color: var(--second-bg-color);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
    }
  }
}

/*About*/
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  .left-about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 5rem;
    p {
      line-height: 2rem;
      padding: 1rem;
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .about-item {
      border: 1px solid var(--second-bg-color);
      border-radius: 5px;
      transition: all .4s ease-in-out;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--main-color);
        box-shadow: 1px 4px 15px rgba(0, 0, 0, .32);
      }
      .abt-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: var(--main-color);
        }
        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--text-color);
          letter-spacing: 2px;
          &:before {
            content: "";
            position: absolute;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--second-bg-color);
          }
        }
      }
    }
  }
}

.about-stats {
  padding-bottom: 4rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .prog-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .prog-container {
        display: flex;
        align-items: center;
        .prog-text {
          color: var(--text-color);
        }
        .progress {
          width: 100%;
          height: .45rem;
          background-color: var(--second-bg-color);
          margin-left: 1rem;
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--main-color);
            transition: all .4s ease-in-out;
            width: 60%;
          }
          .html {
            width: 95%;
          }
          .css {
            width: 80%;
          }
          .javascript {
            width: 75%;
          }
          .reactjs {
            width: 70%;
          }
          .ruby {
            width: 65%;
          }
          .rubyonrails {
            width: 90%;
          }
        }
      }
    }
  }
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--second-bg-color);
    transform: translateX(-50%);
  }
}

/*Timeline*/
.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  .timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--second-bg-color);
    .tl-icon {
      position: absolute;
      left: -27px;
      top: 0;
      background-color: var(--main-color);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 1.3rem;
        color: var(--bg-color)
      }
    }
    .tl-duration {
      padding: .4rem;
      background-color: var(--second-bg-color);
      border-radius: 15px;
      display: inline-block;
      font-size: .8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5 {
      padding: 1rem 0;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: 600;
      span {
        color: rgb(112, 112, 112);
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
    p {
      color: var(--text-color);
    }
  }
}

/*Portfolios*/

.port-text {
  padding: 2rem 0;
  text-align: center;

}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  .portfolio-item {
    position: relative;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 15px;
    }
    .hover-item {
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      transform: scale(0);
      transition: all .4s ease-in-out;
      h3 {
        font-size: 1.5rem;
        color: var(--text-color);
        margin-bottom: 1.5rem;
      }
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          background-color: var(--bg-color);
          border-radius: 50%;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 1rem;
          cursor: pointer;
          transition: all .4s ease-in-out;
          i {
            font-size: 1.5rem;
            color: var(--text-color);
            margin: 0 1rem;
          }

          &:hover {
            background-color: var(--text-color);
            i {
              color: var(--bg-color)
            }
          }
        }
      }
    }
  }
}

.portfolio-item:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

/*Contact-section*/

.contact-content-container {
  display: flex;
  padding-top: 3.5rem;
  .left-content {
    flex: 2;
  }
}

/*Form-styling*/

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* Button */
.form-btn {
  background: linear-gradient(to right, #116399, #38caef);
  border: none;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.form-btn:hover {
  color: #fff;
}

.form-btn i {
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
}

.form-btn:hover i {
  left: 20px;
  opacity: 1;
}

/*Independent components*/

.main-btn {
  --color: #00eeff;
  width: fit-content;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--color);
  background: linear-gradient(to right, rgba(0, 238, 255, 0.1) 1%, transparent 40%, transparent 60%, rgba(0, 238, 255, 0.1) 100%);
  color: var(--color);
  box-shadow: inset 0 0 10px rgba(0, 238, 255, 0.4), 0 0 9px 3px rgba(0, 238, 255, 0.1);
}

.main-btn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(0, 238, 255, 0.6), 0 0 9px 3px rgba(0, 238, 255, 0.2);
}

.main-btn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(0, 238, 255, 0.1) 40%, rgba(0, 238, 255, 0.1) 60%, transparent 100%);
}

.main-btn:hover:before {
  transform: translateX(15em);
}
